# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java source files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120
continuation_indent_size = 8

# XML files
[*.{xml,fxml,xsd,xsl}]
indent_style = space
indent_size = 4

# JSON, YAML files
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Properties files
[*.properties]
indent_style = space
indent_size = 4

# Shell scripts
[*.{sh,bash}]
indent_style = space
indent_size = 2

# Windows scripts
[*.{bat,cmd,ps1}]
end_of_line = crlf
